#btnAdd{
	margin-bottom: 10px;
}
.container{
	margin-top:  80px;
}
p{
	font-size: 12px;
}





<form>
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Email address</label>
    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">    
  </div>
</form>

<div>
	<label></label>
	<select class="form-select" aria-label="Default select example">
  		<option selected>Open this select menu</option>
  		<option value="1">One</option>
  		<option value="2">Two</option>
  		<option value="3">Three</option>
	</select>
</div>