#btnAdd{
	margin-bottom: 10px;
}
.container{
	margin-top:  80px;
}
p{
	font-size: 12px;
}
.flex-row {
  display:  flex;  
  width:  100%;
}
.flex-row > div{
  flex-grow: 1;
  margin-left: 10px;

}
.flex-row > div:first-child{
  margin-left: 0;
  margin-right: 10px;

}

